<p>Put this in your pipe &amp; smoke it!</p>

<ul>
	<% @all_trending.each do |r| %>
		<li>
			<%= "<strong>#{r.name}</strong> (#{r.star_count} stargazers)" %>
			<%= "&mdash; #{r.description}" %>
		</li>
	<% end %>
</ul>
