<!DOCTYPE html>
<html>
	<head>
		<title>Trending on GitHub</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/app.css">
	</head>
	<body>
		<%= erb :_header %>
		<div class="container">
			<%= yield %>
		</div>
		<%= erb :_footer %>
		<script src="assets/app.js" defer></script>
	</body>
</html>
